@charset "UTF-8";
/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/
/*Skriv kommandoen: npm run css:build (denne kompilerer sass til css) 
Skriv kommandoen: npm run css:watch (kompilerer også sass til css, men gjør det automatisk når du lagrer main.scss fila)*/
/*
build: nice to use if you are only going to change one small thing.
watch: nice to use if you need to change several things.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 45 93% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84% 43%;
    --destructive-foreground: 210 40% 98%;
    --success: 129 74% 45%;
    --success-foreground: 210 40% 98%;
    --warning-light: 53 98.3% 76.9%;
    --warning-dark: 45 93.4% 47.5%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --monochrome-color: 0 0% 0%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 45 93% 47%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84% 43%;
    --destructive-foreground: 0 85.7% 97.3%;
    --success: 121 68% 44%;
    --success-foreground: 0 85.7% 97.3%;
    --warning-light: 53 98.3% 76.9%;
    --warning-dark: 45 93.4% 47.5%;
    --ring: 217.2 32.6% 17.5%;
    --monochrome-color: 0 0% 100%;
  }
}
@layer base {
  button {
    @apply text-white font-bold py-2 px-4 rounded;
  }
  button.btn-prev {
    background-color: #38b2ac;
  }
  button.btn-prev:hover {
    background-color: #5ad3d1;
  }
  button.btn-random {
    background-color: #38b2ac;
  }
  button.btn-random:hover {
    background-color: #5ad3d1;
  }
  button.btn-next {
    background-color: #6b46c1;
  }
  button.btn-next:hover {
    background-color: #9b59b6;
  }
  button.btn-send {
    @apply bg-gray-500;
  }
  button.btn-send:hover {
    @apply bg-gray-600;
  }
  button.btn-show-answer {
    @apply bg-blue-500;
  }
  button.btn-show-answer:hover {
    @apply bg-blue-600;
  }
  /** {
      @apply border-border;
  }*/
  body {
    @apply flex flex-col;
    margin: 1rem;
    @apply bg-background text-foreground justify-center items-center min-h-screen;
  }
  .count-error-msg {
    color: red;
    font-weight: bolder;
  }
  main {
    @apply mt-[-10%];
  }
  h3 {
    color: rgb(35, 132, 104);
    font-style: italic;
  }
  h1 {
    font-weight: bold;
    font-size: 24px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @media only screen and (max-width: 640px) {
    body {
      @apply p-4;
      @apply mt-[-10%];
    }
    main {
      @apply items-center justify-center;
    }
    .container {
      @apply mx-auto;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
      @apply p-8;
    }
    main {
      @apply items-center justify-center;
    }
    .container {
      @apply mx-auto;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body {
      @apply p-6;
    }
    main {
      @apply mt-[-10%];
      @apply flex-row justify-center;
    }
    .container {
      @apply max-w-full;
    }
  }
  @media (max-width: 640px) and (orientation: landscape) {
    body {
      @apply p-2;
    }
    main {
      @apply flex-row items-center;
    }
    .container {
      @apply max-w-full;
    }
  }
}


/*# sourceMappingURL=globals.css.map */
