@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 45 93% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84% 43%;
    --destructive-foreground: 210 40% 98%;
    --success: 129 74% 45%;
    --success-foreground: 210 40% 98%;
    --warning-light: 53 98.3% 76.9%;
    --warning-dark: 45 93.4% 47.5%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --monochrome-color: 0 0% 0%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 45 93% 47%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84% 43%;
    --destructive-foreground: 0 85.7% 97.3%;
    --success: 121 68% 44%;
    --success-foreground: 0 85.7% 97.3%;
    --warning-light: 53 98.3% 76.9%;
    --warning-dark: 45 93.4% 47.5%;
    --ring: 217.2 32.6% 17.5%;
    --monochrome-color: 0 0% 100%;
  }
}
@layer base {
  .container {
    @apply mx-auto w-full max-w-2xl;
  }
  .antoppg {
    margin-bottom: 0.5rem;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
  }
  button {
    @apply text-white font-bold py-2 px-4 m-4 rounded;
  }
  button.btn-prev {
    background-color: #38b2ac;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  button.btn-prev:hover {
    background-color: #5ad3d1;
  }
  button.btn-random {
    background-color: #38b2ac;
  }
  button.btn-random:hover {
    background-color: #5ad3d1;
  }
  button.btn-startAgain {
    background-color: #38b25b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  button.btn-startAgain:hover {
    background-color: #5fd27c;
  }
  button.btn-next {
    background-color: #6b46c1;
    background-color: #38b2ac;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  button.btn-next:hover {
    background-color: #9b59b6;
  }
  button.btn-send {
    background-color: #718096;
  }
  button.btn-send:hover {
    background-color: #4a5568;
  }
  button.btn-show-answer {
    background-color: #4299e1;
  }
  button.btn-show-answer:hover {
    background-color: #3182ce;
  }
  body {
    @apply flex flex-col;
    margin: 1rem;
    box-sizing: border-box;
    @apply justify-center items-center min-h-screen;
  }
  .count-error-msg {
    color: red;
    font-weight: bolder;
    margin: 1rem 0 1rem 0;
  }
  main {
    background-color: rgba(168, 198, 234, 0.6117647059);
    border-radius: 4%;
    padding: 1rem;
  }
  h1 {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 4px;
  }
  h2 {
    font-weight: bold;
    font-size: 16px;
  }
  h3 {
    color: rgb(35, 132, 104);
    font-style: italic;
  }
  p {
    margin: 0.5rem 0 0.5rem 0;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @media only screen and (max-width: 640px) {
    button {
      @apply text-xs;
    }
    .footer-container {
      gap: 0px;
    }
    .btn-prev,
    .btn-next {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    main {
      @apply p-8;
    }
    .container {
      @apply mx-auto;
    }
  }
}


/*# sourceMappingURL=globals.css.map */
