
/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

/*Skriv kommandoen: npm run css:build (denne kompilerer sass til css) 
Skriv kommandoen: npm run css:watch (kompilerer også sass til css, men gjør det automatisk når du lagrer main.scss fila)*/
/*
build: nice to use if you are only going to change one small thing.
watch: nice to use if you need to change several things.
*/






//.container{justify-content: center;}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --primary: 45 93% 47%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84% 43%;
        --destructive-foreground: 210 40% 98%;
        --success: 129 74% 45%;
        --success-foreground: 210 40% 98%;
        --warning-light: 53 98.3% 76.9%;
        --warning-dark: 45 93.4% 47.5%;
        --ring: 215 20.2% 65.1%;
        --radius: 0.5rem;
        --monochrome-color: 0 0% 0%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --primary: 45 93% 47%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 84% 43%;
        --destructive-foreground: 0 85.7% 97.3%;
        --success: 121 68% 44%;
        --success-foreground: 0 85.7% 97.3%;
        --warning-light: 53 98.3% 76.9%;
        --warning-dark: 45 93.4% 47.5%;
        --ring: 217.2 32.6% 17.5%;
        --monochrome-color: 0 0% 100%;
    }
}

@layer base {
    $hover-bg-btn-teal: #5ad3d1; 
    $hover-bg-btn-purple: #9b59b6; 
    $bg-btn-color1: #38b2ac;
    $bg-btn-color2: #38b25b;
    $bg-color-btn-next:#6b46c1;
    $error-msg-text-color:red;
    $main-color: #a8c6ea9c;
    $h3-color:rgb(35, 132, 104);
    $bg-btn-send:#718096;
    $hover-btn-send:#4a5568;
    $bg-btn-ans:#4299e1;
    $hover-btn-ans:#3182ce;
    $hover-btn-Again:#5fd27c;
   


    .container {
            @apply mx-auto w-full max-w-2xl;
            
    }
       
    .antoppg{
        margin-bottom:0.5rem;

    }
    .footer-container {
        display: flex;
            /* Setter footer til å være en flex container */
        flex-wrap: wrap;
            /* Tillater elementer å gå til neste linje om nødvendig */
        justify-content: space-between;
            /* Fordeler plass mellom knappene */
        gap: 16px;
            /* Setter litt plass mellom knappene */
    }
        
    button {
        @apply text-white font-bold py-2 px-4 m-4 rounded;
    
           
        &.btn-prev {
            background-color: $bg-btn-color1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap:8px;
    
            &:hover {
                background-color: $hover-bg-btn-teal;
            }
        }
        &.btn-random {
            background-color: $bg-btn-color1;
            
            &:hover {
                background-color: $hover-bg-btn-teal;
            }
        }
        &.btn-startAgain {
            background-color: $bg-btn-color2;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        
            &:hover {
                background-color: $hover-btn-Again;
            }
        }
    
            
        &.btn-next {
            background-color: $bg-color-btn-next;
            background-color: $bg-btn-color1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
           // max-width: calc(50% - 8px);
    
            &:hover {
                background-color: $hover-bg-btn-purple;
            }
        }
    
            
        &.btn-send {
            background-color: $bg-btn-send;
    
            &:hover {
                background-color: $hover-btn-send;
            }
        }
    
            
        &.btn-show-answer {
            background-color: $bg-btn-ans;
    
            &:hover {
                background-color: $hover-btn-ans;
            }
        }
    } 


    body {
        @apply flex flex-col;
        margin: 1rem;
        box-sizing: border-box;
        @apply  justify-center items-center min-h-screen;
    }
    .count-error-msg {
        color: $error-msg-text-color;
        font-weight: bolder;
        margin:  1rem 0 1rem 0;
    }
   
    
    main {
       // margin-top: -5%; 
        background-color: $main-color;
        border-radius: 4%;
        padding: 1rem;
    }
    h1 {
        font-weight: bold;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 4px;
    
    }
    h2 {
        font-weight: bold;
        font-size: 16px;
        
    }
    h3 {
        color: $h3-color;
        font-style: italic;
    
    }
    
    p{
        margin: 0.5rem 0 0.5rem 0;
        
    }
    

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    //mobil
    @media only screen and (max-width: 640px) {    
        button {
            @apply text-xs ;
        }
        .footer-container {
            gap: 0px;
            
        }
        .btn-prev,
        .btn-next {
            margin-top: 4px;
            margin-bottom: 4px;
        }
       
    }
    //tablets
    @media only screen and (min-width: 768px) and (max-width: 1024px){
        
        main {
            @apply p-8;
        } 
        .container {
            @apply mx-auto;
        }
                
    }
    
 
}

/*# sourceMappingURL=globals.css.map */