@import "colors";
@import "functions";

.card { 
    overflow: hidden;
    border-radius: 20px;
    background: $dark-bg-color;
    color: #fff;
    box-shadow: 0px 0px 2px 0.5px $red-text-color;
    width: auto;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    padding: 12px;
    z-index: -1;

    &__title {
        color: $red-text-color;
        font-size: 1.125rem;
        font-weight: 600;
    }

    &__button {
        @include button-style-red(auto, 0.3rem);
        padding: 4px;
    }
}