$dark-bg-color: #01070f;
$dark-matt-color: #161616d2;
$red-text-color: #e66f5c;
$blue-color: #5c78e6;
$navy-blue: #07182f;
$red-gradient: linear-gradient(to right, $red-text-color 0%, #bf4b59 51%, $red-text-color 100%);
$blue-gradient: linear-gradient(to right, $blue-color 0%, #4b59bf 51%, $blue-color 100%);
$dark-red-gradient: linear-gradient(to right, rgb(99, 23, 11) 0%, rgb(143, 13, 28) 51%, rgb(99, 23, 11) 100%);
$green-gradient: linear-gradient(to right, #7ce65c 0%, #55bf4b 51%, #7ce65c 100%);