$dark-bg-color: #01070fd2;
$red-text-color: #e66f5c;
$red-gradient: linear-gradient(to right, $red-text-color 0%, #bf4b59 51%, $red-text-color 100%);
$dark-red-gradient: linear-gradient(to right, rgb(99, 23, 11) 0%, rgb(143, 13, 28) 51%, rgb(99, 23, 11) 100%);
$green-gradient: linear-gradient(to right, #7ce65c 0%, #55bf4b 51%, #7ce65c 100%);