@import "colors";

.container {
    background: $dark-bg-color;
    max-width: 100%;
    padding: 1rem;

    &__title {
        padding-left: 1rem;
        color: $red-text-color;
        font-weight: 600;
        font-size: 1.15rem;
    }
}