@import "colors";

.input {
    padding: 2rem 3rem;

    &__label {
        font-weight: 500;
    }

    &__value {
        background: $dark-bg-color;
    }
}

.error-message {
    position: absolute;
    right: 2rem;
    color: rgb(230, 77, 77);
    font-size: 1.1rem;
}