$nav-element-bg: #d75b48;

.navigation {
    padding-right: 1rem;

    &__list {
        gap: 2rem;

        &-item {
            background: $nav-element-bg;
            color: #fff;
            border-radius: 0.3rem;
            padding: 0.2rem 0.8rem 0.2rem 0.8rem;

            font-weight: 500;

        }
    }
}