@import "colors";

.performer {
    background: $dark-bg-color;
    box-shadow: 0px 0px 2px 0.5px $red-text-color;
    height: auto;

    &__name, &__gender, &__sport {
        padding: 1rem;
        color: #fff;
    }
}

