@import "colors";
.input-field {
    padding: 0.5rem; 
    border-radius: 0.25rem;
    color: $navy-blue;
}
.save-button{
    position: absolute;
    bottom: 1rem; 
    right: 1rem; 
    background-color: #ef4444; 
    color: #ffffff; 
    padding: 0.25rem 1.25rem; 
    border: 1px solid #b91c1c; 
    border-radius: 0.25rem; 
    font-size: 1.125rem;   

}

.card__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

.card__title {
    display: inline-block;
    margin-left: 0.5rem;
    
}

.card__ReportList{
    display: flex;
    margin-bottom: 1rem;
    gap: 4px;
    
    &:hover {
        background-color: #324071;
        transition: background-color 0.3s ease;
    }

}

.report-input-field {
  width: 60px; 
  margin: 4px; 
  padding: 4px; 
  border-radius: 4px; 
  
}

.interval-container {
  margin-bottom: 1rem;
}

.measurements-table {
  display: flex;
  flex-direction: column;
}

.measurements-header, .measurements-row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-cell, .measurements-label {
  flex: 0 0 auto; 
  width: 6em; 
  text-align: left;
  padding-right: 1em; 
}

input[type="number"] {
  flex: 0 0 auto; 
  width: 4em; 
  margin-right: 1em; 
  color: black;
}

