@import "colors";
@import "functions";

.search {
    background: $dark-bg-color;
    width: 40%;
    margin: 2rem auto;
    padding: 0.3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 0px $red-text-color;

    &__input {
        background: $dark-bg-color;
        width: 100%;
        border: none;

        &:focus {
            color: #fff;
        }
    }

    &__button {
        @include button-style-red(25%, 15px);
        color: #fff;
        padding: 0.3rem;
        font-weight: 600;
    }
}

 